/*font-family: 'Poiret One', cursive;
font-family: 'Lancelot', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Marcellus SC', serif;
font-family: 'Alegreya SC', serif;

font-family: 'Cinzel', serif;*/

body {
  background: rgb(249, 249, 249)
}

#column-1, a {
  font-family: 'Poiret One', cursive;
  font-weight: 550;
  color: #410B13;
  font-size: 28px;
  text-decoration: none;
}

a:hover {
  color: #410B13;
  text-decoration: none;
}

#main-heading {
  font-weight: bold;
  color: #2F394D;
  font-family: 'Poiret One', cursive;
  text-align: center;
}

#title-name {
  font-size: 50px;
}

#title-web {
  font-size: 36px;
}

@media only screen and (max-width: 641px)  {
  #main-heading {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 642px)  {
  #main-heading {
    margin-bottom: 25px;
  }
}

.project-links {
  cursor: pointer;
  cursor: hand;
}

.nav-container {
  cursor: pointer;
  cursor: hand;
}


.content {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  display: none;
}

.projects-description {
  font-weight: bold;
}

.project-img {
  border-radius: 5%;
}
