/*font-family: 'Poiret One', cursive;
font-family: 'Lancelot', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Marcellus SC', serif;
font-family: 'Alegreya SC', serif;

font-family: 'Cinzel', serif;*/

body {
  background: rgb(249, 249, 249)
}

/*canvas{
  z-index: -100 !important;
}*/
/*.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}*/

/*.text {
  margin: 0;
}*/

#column-1 {
  /*width: 30vw;
  height: auto;
  padding-left: 35px;
  border-right: 1px solid black;*/
  font-family: 'Poiret One', cursive;
  font-weight: 550;
  color: #410B13;
  font-size: 28px;

}

/*#column-2 {
  width: 40vw;
  height: auto;
  padding-left: 35px;
}

#column-3 {
  width: 30vw;
  height: auto;
  padding-right: 35px;
}*/



#header {
  font-weight: bold;
  color: #2F394D;
  height: 10vw;
  font-family: 'Poiret One', cursive;
  font-size: 36px;
  text-align: center;

}

/*#title-name, #title-web {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0;
}*/

.nav-container {
  cursor: pointer;
  cursor: hand;
  /*z-index: 100 !important;*/
}


/*#contact, #projects, #about {
  text-align: center;
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

#fun {

}

.content{
  font-family: 'Open Sans', sans-serif;
}

/*increase line spacing*/
