.navbar-container {
  transition: 0.4s;
  position: fixed;
  top: 0vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  z-index: 3;
}

.navbar-container__width {
  width: 85vw;
}

.navbar-container__button {
  font-family: $heading-font;
  color: $charcoal;

  &:hover {
    color: $fuschia;
  }
}

.navbar-container--transition {
  top: -10vh
}

@media (min-width: 769px) {
  .navbar-container {
    width: 100vw;
  }

  .navbar__about {
    text-align: right;
  }

  .navbar__contact {
    text-align: left;
  }

  .navbar-container__width {
    width: 100vw;
  }
}

/////
//
// Navbar and Navbar Icon
//
/////


.navbar-icon-container {
  position: fixed;
  top: 0vh;
  left: 89vw;
  align-items: center;
  justify-content: center;
  z-index: 4;
  width: 35px;
  background-color: #ffffff;
  margin-top: 5px;
}

@media (min-width: 769px) {
  .navbar-icon-container {
    left: 94vw;
    margin-top: 0px;
    width: 50px;
  }
}

.navbar-icon path {
  stroke: $charcoal;
  stroke-width: 5;
  stroke-linecap: round;
  transition: all 250ms ease-in-out;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

.navbar-icon__button:hover path {
  stroke: $fuschia;
}

.navbar-icon.is-active path:nth-child(1) {
  opacity: 0;
}

.navbar-icon.is-active path:nth-child(4) {
  opacity: 0;
}

.navbar-icon.is-active path:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-icon.is-active path:nth-child(3) {
  transform: rotate(-45deg);
}

/////
//
// Navbar and Navbar Icon End
//
/////