$offwhite: #f9f9f9;
$gray: #DCDCDC;
$charcoal: #404040	;
$main-font: 'Raleway', serif;

// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Dosis', sans-serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Julius Sans One', sans-serif;

#one{
  font-family: 'Nanum Gothic', sans-serif;
}

#four{
  font-family: 'Julius Sans One', sans-serif;
}
#five{
  font-family: 'Raleway', sans-serif;
}

.angled-svg {
  width: 100%;
  height: 5vw;
  fill: $offwhite;
}

.angled-svg--charcoal {
  fill: $charcoal;
}

html, body {
  // setting the html and body to position: relative seems to be how safari needs it css setup in order for overflow property to work
  margin: 0;
}

.text {
  transition: all .2s ease-in-out
}

.noscale {
  transform: scale(0.0);
}

.background {
  background-color:  $offwhite;
  height: 100vh;
}

.background--alternate {
  background-color: $charcoal;
}

.projects {
  margin: 0 auto;
}

.content {
  z-index: -150;
  display: flex;
}

.svg-image {
  width: 10%;
}


// body {
//   background-color: $offwhite;
//   margin: 0 auto
// }

// figure {
//   margin: 0 auto;
// }

// p, a, h1, h2, h3 {
//   font-family: $main-font;
// }

// .header {
//   width: 100%;
//   background-color: $offwhite;
// }

// .header__letter {
//   border-bottom: 1px solid $blue;
//   font-size: 24px;
//   font-weight: 700;
//   color: $charcoal;
//   text-align: center;
// }

// .header--first-letter {
//   background-color: $blue;
//   color: $offwhite;
// }

// .navbar{
//   position: fixed;
// }

// .navbar__anchor{
//   text-decoration: none;
//   font-size: 18px;
//   cursor: pointer;
//   cursor: hand;
// }

// .navbar__button {
//   color: $offwhite;
//   background-color: $blue;
//   padding: 15px;
//   margin: 0;
//   &:hover {
//     background: #28b5a8;
//   }
// }

// .content{
//   border-bottom: 1px solid $gray;
//   line-height: 1.4;
//   color: $charcoal;
// }

// .content__segment {
//   font-size: 18px;
//   border-bottom: 1px solid $gray;
//   line-height: 1.4;
// }

// .content__margin {
//   margin: 0 auto;
// }

// .content__segment--font22 {
//   font-size: 22px;
// }

// .content__segment--padding {
//   padding: 50px 0;
// }

// .content--align-center {
//   text-align: center;
// }

// .button {
//   padding: 35px 0;
//   text-align: center;
// }

// .button__link {
  
//   text-decoration: none;
//   font-size: 18px;
//   background-color: $blue;
//   width: 200px;
//   color: $offwhite;
//   padding: 1em;
//   border-radius: 2px;
//   font-weight: 300;
//   letter-spacing: 1px;
//   margin: 8px;
//   &:hover {
//     background-color: #28b5a8;
//   }
// }

// .button__link--ghost {
//   box-shadow: inset 0 0 0 2px #2ec4b6;
//   background-color: $offwhite;
//   color: $blue;
//   &:hover {
//     background-color: $blue-ghost;
//     color: $offwhite;
//   }
// }

// .photo {
//   text-align: center;
// }

// .photo__img {
//   width: 90%;
// }

// .container {
//   display: flex;
// }

// .container__flex1{
//   flex: 1;
// }

// .container__flex3 {
//   flex: 3;
// }

// .container__flex8 {
//   flex: 8;
// }
